 #header
        {
            height: 130px;
            width: 655px;
        }
body 
{
    background-color: White;
}
.botonMenuTop
{   
    background: #1BA1E2;
    font-size:x-large;
    color: White;
    Height: 44px;
    Width: 290px;
    margin: 2px;
    
}
.botonMenuTop:hover
{
    background: #EEEEEE;
    font-size:x-large;
    color: #1BA1E2;
    Height: 44px;
    Width: 295px;
    margin: 2px;
}
.menuContent
{
    float:left;
    margin-left: 3%;
    margin-top:3%;
    display:block;
    width:20%;
}
.mainContent
{   
    background:#EEEEEE;
    display: block;
    height: 430px;
    width: 70%;
    margin-right: 3%;
    float:right;
    border:0px;
}
.expedienteMenuButton
{
    background:#1BA1E2;
    font-size:100%;
    font-family:@Arial Unicode MS;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    height:40px;
    width:100%;
    color: White;
    border: 1px solid #ffffff;
    border-bottom:0px;
}
.expedienteMenuButton:hover
{
    background:#EEEEEE;
    border: 1px solid #ffffff;
    border-bottom:0px;
    font-size:100%;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    height:40px;
    width:100%;
    color: #1BA1E2;
}
.menu_Expediente
{
    width: 70%;
    height: 40px;
    margin-right:3%;
    float:right;
}
.loginContent
{   
    background:#EEEEEE;
    display: block;
    height: 430px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    border:0px;
}
.textoLogin
{
    font-size:x-large;
    font-family:@Arial Unicode MS;
    color: Gray;
}
.textoInputLogin
{
    font-size:large;
    font-family:@Arial Unicode MS;
    color: Gray;
}
