body 
{
    background-color: White;
}
.botonMenuTop
{   
    background: #1BA1E2;
    font-size:x-large;
    color: White;
    Height: 44px;
    Width: 305px;
    margin: 2px;
    
}
.botonMenuTop:hover
{
    background: #EEEEEE;
    font-size:x-large;
    color: #1BA1E2;
    Height: 44px;
    Width: 320px;
    margin: 2px;
}
.menuContent
{
    float:left;
    margin-left: 5%;
    display:block;
    width:25%;
}
.mainContent
{   
    background:#B0B0B0;
    display: block;
    height: 430px;
    width: 62%;
    margin-right: 5%;
    float:right;
    border: 1px solid #fcfeff;
}